.ct-series-a .ct-line {
    stroke: red;
    stroke-width: 2px;
}

.ct-line.ct-threshold-1, .ct-point.ct-threshold-1, .ct-bar.ct-threshold-1 {
    stroke: #f05b4f;
}

.ct-line.ct-threshold-0, .ct-point.ct-threshold-0, .ct-bar.ct-threshold-0 {
    stroke: #59922b;
}

.ct-line.ct-threshold-2, .ct-point.ct-threshold-2, .ct-bar.ct-threshold-2 {
    stroke: #bbbbbb;
}

.ct-line.ct-threshold-4, .ct-point.ct-threshold-4, .ct-bar.ct-threshold-4 {
    stroke: #000000;
}

.ct-line.ct-threshold-3, .ct-point.ct-threshold-3, .ct-bar.ct-threshold-3 {
    stroke: #b55b5b;
}